QUESTION 1

In [1]:
s = 'rugved'

In [2]:
l = [1,2,3,4]

In [3]:
i = 1.2

In [4]:
t = (3,56,"name",False)

QUESTION 2

1-string
2-string
3-list
4-

In [5]:
var1 = ''

In [6]:
type(var1)

str

In [7]:
var2 = '[2,4,'r']'

In [8]:
type(var2)

str

In [9]:
var4 = 1.

In [10]:
type(var4)

float

QUESTION 3

/ - division operator - this is used to divide , this is a binary operator this always gives a floating point value

In [11]:
print(5/2)

2.5

% - modulo operator - this operator is used to find the remainder after division of the two binary operands , this is also a binary operator

In [12]:
print(5%2) #this will print the remainder after the division of 5 by 2

1

// - floor division - this operator is used to get the floor value after the division rounding off to the lower integer

In [13]:
print(5//2) #this would print 2

2

** - power operator - this operator is used to find the power of first operand to the second operand , it is also a binary operator

In [14]:
print(2**4)

16

QUESTION 4

In [15]:
l = [2,5,1.0,'r',False,7,0,'u',[1,2],5]
for i in l :
    print(i)
    print(type(i))

2
<class 'int'>
5
<class 'int'>
1.0
<class 'float'>
r
<class 'str'>
False
<class 'bool'>
7
<class 'int'>
0
<class 'int'>
u
<class 'str'>
[1, 2]
<class 'list'>
5
<class 'int'>

QUESTION 5

In [16]:
a = int(input('enter the number'))
b =int(input('enter the number to divide by'))
i=1
while(i) :
    if(a%b==0) :
        print('a is purely divisible by b')
        print('it can be divisible by ', a/b , 'times')
        
    else :
        print('a is not purely divisible by b')
    i=i-1

enter the number 10
enter the number to divide by 2

a is purely divisible by b
it can be divisible by  5.0 times

QUESTION 6

In [17]:
import random
l = [3]
for i in range(25) :
    l.append(random.randint(0,100))
print(l)
for i in l :
    if(i%3==0) :
        print('element',i,'is divisible by 3')
    else :
        print('element',i,'is not divisible by 3')

[3, 19, 96, 91, 21, 80, 99, 81, 92, 78, 65, 19, 50, 24, 7, 57, 27, 66, 3, 24, 73, 51, 65, 12, 50, 81]
element 3 is divisible by 3
element 19 is not divisible by 3
element 96 is divisible by 3
element 91 is not divisible by 3
element 21 is divisible by 3
element 80 is not divisible by 3
element 99 is divisible by 3
element 81 is divisible by 3
element 92 is not divisible by 3
element 78 is divisible by 3
element 65 is not divisible by 3
element 19 is not divisible by 3
element 50 is not divisible by 3
element 24 is divisible by 3
element 7 is not divisible by 3
element 57 is divisible by 3
element 27 is divisible by 3
element 66 is divisible by 3
element 3 is divisible by 3
element 24 is divisible by 3
element 73 is not divisible by 3
element 51 is divisible by 3
element 65 is not divisible by 3
element 12 is divisible by 3
element 50 is not divisible by 3
element 81 is divisible by 3

QUESTION 7
MUTABLE - mutability means we can modify , change , add the elements present in the data storing structure 
          list , set , dictionary are mutable datatypes in python
IMMUTABLE - immutable datatypes are the datatypes which cannot be modified or updated or even we cannot add or remove elements from the datatypes 
          examples of immutable datatypes in python are tuple , frozen set also all primitive data types such as int , float , boolean are all                   immutable datatypes , whenever we are changing the values new objects get created but the original object remains the same

In [18]:
l = [1,2,3]
l.append(5)
#we can see this works good

In [20]:
l

[1, 2, 3, 5]

In [19]:
t = (5,2,1)
t.append(1)
#there is no methods to change the tupple as it is immutable therefore it throws an error

AttributeError: 'tuple' object has no attribute 'append'