QUESTION 1

to comment code in python we use # character , after writting this character the compiler gets to know that this is a comment and not the code


there are two types of comments in python - 
1-single line comment 
2-multiline comment 
examples are given below

In [1]:
#single line comment

In [2]:
""" this is multiline 
comment which is or need to be enclosed by triple double comma """

' this is multiline \ncomment which is or need to be enclosed by triple double comma '

QUESTION 2 

variables are the different names in python which are used to store data , there is also proper nameing convention for variable name that is needed to be followed 

to declare a variable we write the name of the variable followed with the initialization of the variable without specifying the datatype of the variable as python is dynamically types programming language , example is given below

In [3]:
a = 2

In [4]:
type(a)

int

QUESTION 3 

to convert one datatype to another in python we should know the concept of typecasting 
ex - if we want to convert the list into tupple we write tuple(list) and for tuple to list list(tuple)

aslo typecasting can also be done for primitive data types such as for int , float , bool etc.

QUESTION 4

sry i dont know the exact answer

QUESTION 5

In [6]:
l = [1,2,3,4,5]
l1 = l[1:3]
print(l1)

[2, 3]

QUESTION 6

complex number in maths is used to represent the two dimensional measurements .

it is reperesent by x+yj where x represents the real quantity or the x axis , and y represents the imaginary quantity or y axis

In [7]:
c = 2 + 3j
type(c)

complex

QUESTION 7

the correct way to declare a variable is by writin the variable name followed by the assignment operator and writingb the value to store the variable 
in python we dont need to bother or write the datatype of the variable as python is dynamically typed programming language

x = 2

QUESTION 8

In [8]:
price = 9.99
type(price)

float

QUESTION 9

In [9]:
name = "rugved sunil khumkar"
print(name)

rugved sunil khumkar

In [10]:
name

'rugved sunil khumkar'

QUESTION 10

In [11]:
s = 'hello,world!'
s1 = s[6:11]
print(s1)

world

QUESTION 11

In [ ]:
s = eval(input('enter 1 '))
is_student = None